body{
    background-color: #291a25;
    display: flex;
    justify-content: center;
    background-image: url('../img/bg_senac.png');
    background-size: cover;
    background-position: right;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-relative { 
    position: relative !important;
}
.text-yellow{
    color: yellow !important;
}

/* Color Theme Swatches in Hex */
.Game-Logo-Collection-1-hex { color: #0D090C; }
.Game-Logo-Collection-2-hex { color: #362559; }
.Game-Logo-Collection-3-hex { color: #49378C; }
.Game-Logo-Collection-4-hex { color: #5BD9B5; }
.Game-Logo-Collection-5-hex { color: #54BFA1; }

/* Color Theme Swatches in RGBA */
.Game-Logo-Collection-1-rgba { color: rgba(12, 8, 11, 1); }
.Game-Logo-Collection-2-rgba { color: rgba(53, 37, 89, 1); }
.Game-Logo-Collection-3-rgba { color: rgba(73, 54, 140, 1); }
.Game-Logo-Collection-4-rgba { color: rgba(91, 216, 181, 1); }
.Game-Logo-Collection-5-rgba { color: rgba(84, 191, 160, 1); }

/* Color Theme Swatches in HSLA */
.Game-Logo-Collection-1-hsla { color: hsla(315, 19, 4, 1); }
.Game-Logo-Collection-2-hsla { color: hsla(258, 40, 24, 1); }
.Game-Logo-Collection-3-hsla { color: hsla(253, 43, 38, 1); }
.Game-Logo-Collection-4-hsla { color: hsla(163, 62, 60, 1); }
.Game-Logo-Collection-5-hsla { color: hsla(163, 45, 54, 1); }

.rpgui-selected{
    height: 26px !important;
    position: relative !important;
    top: 7px !important;
}